# Xcode user-specific state
*.xcuserstate
xcuserdata/

# Xcode build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
